.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.page-footer{
  background-color: #0D6EFD;
  position:relative;
  bottom:0;
  width:100%;
  color: rgba(255,255,255,.55);
}
.page-footer li a{
text-decoration: none;
color: rgba(255,255,255,.55);
}
.slider{
  width: 100%;
  height: 70vh;
}

.first-navbar{
  background-color: #bd090a;
}
.first-navbar a{
  text-decoration: none;
  color: white !important;
  margin-left: 5vh;
}
.second-navbar{

}
.second-navbar a{
color: white !important;
margin-left: 5vh;
}

/* ========================drop down=============== */

.large-dropdown-menu{
  min-width:926px;
  padding: 0;
}

.large-dropdown-menu ul{
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.large-dropdown-menu ul li a{
  text-decoration: none;
}

.large-dropdown-menu ul li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: rgba(0,0,0,.55);;
  white-space: normal;
}

.large-dropdown-menu ul li a:hover,
.large-dropdown-menu ul li a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.large-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
}

.dropdown-large {
  position: static !important;
}

.large-dropdown-menu .disabled > a,
.large-dropdown-menu .disabled > a:hover,
.large-dropdown-menu .disabled > a:focus {
  color: #999999;
}

.large-dropdown-menu .disabled > a:hover,
.large-dropdown-menu .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}

.large-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
}

@media (max-width: 768px) {
  .large-dropdown-menu {
      margin-left: 0 ;
      margin-right: 0 ;
  }
  .large-dropdown-menu > li {
      margin-bottom: 30px;
  }
  .large-dropdown-menu > li:last-child {
      margin-bottom: 0;
  }
  .large-dropdown-menu .dropdown-header {
      padding: 3px 15px !important;
  }
}

.dropdown-menu-wrapper{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.menu-icon-wrapper{
  display: flex;
}


/* ======================================== */


.card-fill .card{
  top: -20vh;
}
.card-fill .card .butn-color{
background-color: #bd090a;
color: white;
}

.loginpage{
  margin: 30vh;
  max-width: 50% !important;
}

.signuppage{
  margin: 20vh;
  max-width: 50% !important;
}
.form-design{
  border: 0;
    box-shadow: 0 10px 15px 30px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    text-align: -webkit-center;
}
.form-outline .form-control{
margin: 5vh;
}
.butn-signup{
  padding: 5vh;
}

.grey-text{
  width: 50%;
}